<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг Инструкторов</title>
</head>
<body>
    <a href="/admin">Вход в админ-панель</a>

    <h3>Список инструкторов</h3>
    {% block content %}
        {% for instructor in instructor_list %}
            <li>
                <a>{{ instructor.surname }} {{ instructor.name }} {{ instructor.patronymic }}</a>
                <p>Стаж с {{ instructor.driving_experience }}</p>
                <p>{{ instructor.description }}</p>
            </li>
        {% endfor %}
    {% endblock %}
</body>
</html>